

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 4%; /* Adjusted padding for smaller screens */
    color: #fff;
}

nav {
    width: 100%;
    padding: 10px 0; /* Adjusted padding for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 30px; /* Adjusted width for smaller screens */
    cursor: pointer;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjusted margin for smaller screens */
}

nav ul li {
    display: block;
    margin: 10px 0; /* Adjusted margin for smaller screens */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

nav .btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 20px; /* Adjusted padding for smaller screens */
    border-radius: 20px;
}

.content {
    margin-top: 20%; /* Adjusted margin for smaller screens */
}

.content h1 {
    font-size: 60px; /* Adjusted font size for smaller screens */
    margin-bottom: 10px; /* Adjusted margin for smaller screens */
}

.content h1 span {
    color: #ff960b;
}

.content p {
    line-height: 30px; /* Adjusted line height for smaller screens */
    font-size: 30px; /* Adjusted font size for smaller screens */
}

.content .btn {
    display: inline-block;
    margin-top: 20px; /* Adjusted margin for smaller screens */
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 19px 30px; /* Adjusted padding for smaller screens */
    border-radius: 20px; /* Adjusted border-radius for smaller screens */
}

.coin-list {
    position: absolute;
    right: 4%; /* Adjusted right positioning for smaller screens */
    bottom: 20px; /* Adjusted bottom positioning for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin {
    display: flex;
    align-items: center;
    font-size: 12px; /* Adjusted font size for smaller screens */
    margin: 10px 0; /* Adjusted margin for smaller screens */
    color: #ff960b;
    border: 1px solid #fff;
    padding: 12px 20px; /* Adjusted padding for smaller screens */
    border-radius: 8px;
}

.coin img {
    width: 30px; /* Adjusted width for smaller screens */
    margin-right: 10px;
}

.coin h3 {
    color: #fff;
    margin-bottom: 3px; /* Adjusted margin for smaller screens */
}

.can{
    grid-gap: 2rem;
    background: linear-gradient(25deg,#2600fc,#ff00ea);
    border-radius: 8px 8px 0 0;
    color: #f3f2f4;
    display: grid;
    font-size: 2.2rem;
    font-weight: 500;
    gap: 2rem;
    grid-template-columns: 16fr 25fr 25fr 25fr;
    padding: 1.5rem;
   
}

.can1{
    grid-gap: 2rem;
    border-radius: 8px 8px 0 0;
    color: #f3f2f4;
    display: grid;
    font-size: 2.2rem;
    font-weight: 500;
    gap: 2rem;
    grid-template-columns: 16fr 25fr 25fr 25fr;
    padding: 1.5rem;
   
}

.coins{
    display: flex;
    flex-direction: column;
}
.coin-row{
    grid-gap: 2rem;
    align-items: center;
    background-color: #0f051d;
    border-bottom: 1px solid #f3f2f4;
    color: #f3f2f4;
    display: grid;
    font-size: 2.2rem;
    font-weight: 500;
    gap: 2rem;
    grid-template-columns: 16fr 25fr 25fr 25fr;
    height: auto;
    padding: 2.5rem 1.5rem;
    text-align: right;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

.inline-text {
    display: inline;
    
  }
  
  .box {
    width: 100%;
    height: 1px; /* Adjust the height to your preference */
    background-color: white;
  }


@media only screen and (max-width: 600px) {
    .content h1 {
        font-size: 30px; /* Adjusted font size for smaller screens */
        margin-bottom: 10px; /* Adjusted margin for smaller screens */
    }
    .content p {
        line-height: 25px; /* Adjusted line height for smaller screens */
        font-size: 18px; /* Adjusted font size for smaller screens */
    }

    .content .btn {
        display: inline-block;
        margin-top: 20px; /* Adjusted margin for smaller screens */
        background: #ff960b;
        color: #fff;
        text-decoration: none;
        padding: 15px 25px; /* Adjusted padding for smaller screens */
        border-radius: 20px; /* Adjusted border-radius for smaller screens */
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        margin-right: 15px;
    }
    

}


@media (min-width: 600px) {
    /* Styles for tablets and larger screens */
    .container {
        padding: 0 7%; /* Reverting padding for larger screens */
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        margin-top: 0;
        display: flex;
    }

    nav ul li {
        display: inline-block;
        margin: 0 20px;
    }

    .content {
        margin-top: 12%; /* Reverting margin for larger screens */
    }
}
